body{
  background: #fafafa;
}
.App {
  text-align: center;
  height: 100vh;
  display: flex;
}

.chatbot{
  align-items: center;
  justify-content: center;
  max-width: 70%;
  padding: 20px 40px;
  margin: auto;
  border: 1px solid #e1e1e1;
  border-radius: 0.8rem;
  background: white;
  box-shadow: 0px 0px 12px 0px #cecece;
}

.chatbot input{
  border:1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.roomInput{
  margin-bottom: 20px;
}

.messagesCard{
  text-align: left;
}

.messageCard{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.messageText{
  padding: 20px 15px;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0.5rem;
}
.messageText.alt{
  background: #f4f4f4;
}

.messageInput{
  width: 100%;
  max-height: 70px;
  border: 1px solid #ccc;
  max-height: 50px;
  font-family: inherit;
  padding: 20px 15px;
  border-radius: 0.5rem;
}

.defaultButton{
  border:1px solid #396275;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  cursor: pointer;
  background:#00557c;
  color: white;
  border: 0;
  width: 100px;
  height: 40px;
}
.sendButton:hover{
  background:#006ea1;
}